// These colors are specific to the theme. Do not use in a package!

$black: #000000;
$light-gray: #999999;

$blue: #003399;
$aqua: #006699;
$pink: #cc3366;
$green: #669900;
$purple: #330066;
$light-purple: #993399;